/* -- BEGIN LICENSE BLOCK -----------------------------------------------------
 * This file is part of plugin dcInterface for Dotclear 2.
 * Copyright © 2014-2015 Gvx
 * Licensed under the GPL version 2.0 license.
 * (http://www.gnu.org/licenses/old-licenses/gpl-2.0.html)
 * -- END LICENSE BLOCK -----------------------------------------------------*/

/* -- dcInterface -----------------------------------------------------------*/
/*-- no javascript --*/
/* == issue initialize CodeMirror in dc v2.5.x == *//*
body:not(.with-js) #uninstall,
body:not(.with-js) #tab-2,
body:not(.with-js) #tab-3,
body:not(.with-js) #tab-4,
body:not(.with-js) #tab-5,
/* == issue initialize CodeMirror in dc v2.5.x == */
body.no-js #uninstall,
body.no-js #tab-2,
body.no-js #tab-3,
body.no-js #tab-4,
body.no-js #tab-5 {
	display: none;
}
/*-- notepad --*/
div.notepad {
	position: relative;
}
/*-- block-header --*/
.block-header p.block-ctrl {
	/*display: inline;*/
	float: right;
	position: relative;
	text-align: right;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
}
.block-header p.block-ctrl a {
	display: inline-block;
	border: thin solid red;
	width: 20px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: red;
}
.block-header p.block-ctrl a:hover{
	color: white;
	background-color: red;
}
.button-bar {
	position: relative;
	text-align: center;
	margin-bottom: 2em;
}
.button-bar .bb-left {
	position: absolute;
	left: 0;
}
.button-bar .bb-right {
	position: absolute;
	right: 0;
}
.full-window {
  position: fixed !important;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 9;
}
#notepad {
	height: 95%;
}
